/* CSS variables */
:root {
  --primary: #04DEAD;
  --secondary: #203562;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --hover: #F7B633;
}

/* Core styles */

body {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: var(--light);
  margin: 30px 0;
  line-height: 1.5;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: var(--secondary);
  color: var(--light);
  padding: 0.6rem 1.5rem;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  margin: .5em 0;
}

.btn:hover {
  background: var(--hover);
  color: var(--dark);
}

/* .wrapper {
  display: grid;
  grid-gap: 20px;
} */

.content-title {
  text-transform: uppercase;
}

.icon-wrap {
  margin-bottom: 1em;
}

/* navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background-color: var(--secondary);
  display: block;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--hover);
  color: var(--dark);
}

/* header showcase */
#showcase {
  min-height: 450px;
}

#showcase .bg-image {
  position: absolute;
  background: url('https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#about .content-wrap,
#contact .content-wrap {
  padding: 0 1.5rem;
}

/* top container */
#top-container {
  margin: 1em 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1464882046000/photosp/ee8202e4-ea93-4e02-920c-036ac79dbfe9/stock-photo-white-background-green-plants-gardening-many-organization-succulent-objects-succulent-plant-ee8202e4-ea93-4e02-920c-036ac79dbfe9.jpg);
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
  color: var(--secondary);
  text-align: left;
  opacity: 0.9;
}

.showcase h1 {
  font-size: 2rem;
  margin-bottom: 0;
  padding: 0;
  color: var(--secondary);
}

.showcase p {
  color: var(--dark);
}

/* top box */
.top-box {
  background: var(--light);
  color: var(--dark);
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* portfolio */
#portfolio {
  background-color: var(--light);
  padding-bottom: 2em;
}

#portfolio .content-wrap {
  color: var(--dark);
}

.image-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image-wrap img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* about */
#about {
  padding: 0 5em 2em;
}

#about .content-info {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem 2rem;
  text-align: left;
}

/* contact */
#contact {
  background-color: var(--light);
  padding: 0 5em 2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 2em;
  width: 60%;
  min-height: 40px;
  border: none;
  border-bottom: 1px solid var(--primary);
}

#contact .content-wrap {
  color: var(--dark);
}

/* last-section with boxes */
#last-section .box {
  padding: 1em;
  background: var(--secondary);
  color: var(--light);
}

.box svg {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  width: 16px;
  height: 16px;
  text-align: center;
  border: 1px solid var(--light);
}

.box a {
  color: var(--primary);
  text-decoration: none;
}

/* footer */
footer {
  background: var(--secondary);
  color: var(--light);
  text-align: center;
}

/* media queries */
@media(min-width: 700px) {
  /* body {display: none;} */
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr repeat(1, minmax(auto, 25em)) 1fr;
  }

  #showcase .content-wrap {
    grid-column: 2/3;
    /* column-gap: 2em; */
  }

  #showcase .content-text p {
    padding-top: 0;
  }

  #top-container, #portfolio .content-wrap, .image-wrap, #about .content-wrap, #contact .content-wrap {
    grid-column: 2/4;
  }

  footer p {
    grid-column: 2/3;
  }

}

@media(max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  #about, #contact {
    grid-template-columns: 1fr;
  }

  #about .btn, #contact .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media(max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}
