/* CSS variables */
:root {
  --primary: #04DEAD;
  --secondary: #203562;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --hover: #F7B633;
}

/* Core styles */

body {
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: var(--light);
  margin: 30px 0;
  line-height: 1.5;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  background: var(--secondary);
  color: var(--light);
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  margin: .5em 0;
}

.btn:hover {
  background: var(--hover);
  color: var(--dark);
}

/* .wrapper {
  display: grid;
  grid-gap: 20px;
} */

.content-wrap {
  text-transform: uppercase;
}

.icon-wrap {
  margin-bottom: 1em;
}

/* navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background-color: var(--secondary);
  display: block;
  text-decoration: none;
  border: 0;
  border-radius: 10px;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--hover);
  color: var(--dark);
}

/* header showcase */
#showcase {
  min-height: 450px;
}

#showcase .bg-image {
  position: absolute;
  background: url('https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap {
  padding: 0 1.5rem;
}

/* top container */

/* portfolio */
.image-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image-wrap img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* about */
#about {

}

/* contact */



/* last-section with boxes */
#last-section .box {
  padding: 2em;
  background: var(--secondary);
  text-align: center;
  color: var(--light);
}

.box a {
  color: var(--primary);
  text-decoration: none;
}

/* footer */
footer {
  /* margin-top: 2rem; */
  background: var(--secondary);
  color: var(--light);
  text-align: center;
  /* padding: 1rem; */
}
